<ion-header>

  <ion-navbar color="danger">
    <ion-title> {{categoryName}}  </ion-title>


    <ion-buttons end>
      <button ion-button icon-only (click)="addTask()">
        <ion-icon name="add" class="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card *ngIf="tasks.length == 0">
    <ion-card-content>
      No Cards with this category
    </ion-card-content>
  </ion-card>


    <ion-list>
        <ion-item-sliding *ngFor="let task of tasks">
          <ion-item (click)="viewTaskDetails(task)">
            <h2>{{task.title}}</h2>
            <p>
              {{task.dueDate | date :' dd-MM-yyyy'}}
            </p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="confirmDelete(task.id)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
            <button ion-button color="primary" (click)="editTask(task)">
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
          </ion-item-options>
        </ion-item-sliding>
  </ion-list>






</ion-content>