

<!--
  #a0525200
#9e9e9e1a
 -->
 <ion-content padding>

  <div class="catsCol">
      <ion-navbar color="secondary">
          <ion-title>
            Categories
          </ion-title>
          <ion-buttons end>
            <button ion-button icon-only  (click)="resetFilter()">
              <ion-icon name="refresh"></ion-icon>
            </button>
          </ion-buttons>
        </ion-navbar>
      <ion-list no-lines>
          <button ion-item *ngFor="let item of categories" (click)="selectCat(item.ID)">
            {{ item.title }}
          </button>
        </ion-list>
  </div>

  <div class="tasksCol">
      <ion-navbar color="primary">
          <ion-title>
            To-Do Tasks
          </ion-title>
          <ion-buttons end>
            <button ion-button icon-only  (click)="showTaskForm(null)">
              <ion-icon name="add-circle" class="white"></ion-icon>
            </button>
          </ion-buttons>
        </ion-navbar>
      <ion-card *ngFor="let todoTask of tasks">
          <ion-navbar color="light">

          <ion-item>
            <ion-label>{{todoTask.title}}</ion-label>
            <ion-checkbox color="dark" checked="true" (ionChange)='doneTask(todoTask)'></ion-checkbox>
          </ion-item>

          <ion-card-content >
            {{todoTask.dueDate | date :'	dd/MM/yyyy'}}
            <ion-buttons end>
              <button ion-button icon-only  (click)="toDoMenu(todoTask)">
                  <ion-icon name="settings"></ion-icon>
              </button>
          </ion-buttons>
          </ion-card-content>
        </ion-navbar>
      </ion-card>
  </div>

</ion-content>

