page-home {
    body{
        background-color: #ffffff;
    }
    .white {
        color:#ffffff;
    }

    .columnContainer {
        width: 50%;
        float: left;
    }    
    .black {
        color: black;
    }
    .toolbar-md-light .toolbar-background-md {
        background: #a0525200;
    }
}
