page-home {
    body{
        background-color: #ffffff;
    }
    .white {
        color:#ffffff;
    }

    .catsCol {
        width: 30%;
        float: left;
    }
    .tasksCol {
        width: 60%;
        float: left;
        margin-left: 2%;
    } 
    .black {
        color: black;
    }
    .toolbar-md-light .toolbar-background-md {
        background: #a0525200;
    }
}
